{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/style",
    "plugin:jest/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "react-hooks", "jest", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
